@page "/products" // This is the URL for the page
@using WestWindSystem.BLL // This is the namespace for the services
@using WestWindSystem.Entities // This is the namespace for the Entities
// using WestWindSystem.BLL; // This is the namespace for the services
// using WestWindSystem.Entities;

<h3>Products</h3> // This is the title of the page

@code {
    [Inject]
    CategoryServices CategoryServices { get; set; }

    public List<Category>? Categories { get; set; }

protected override void OnInitialized()
    {
        Categories = CategoryServices.GetCategories();
        base.OnInitialized();
    }
}
